@media screen and (max-width: 1024px) {
    .movie-wrap {
        display: flex;
        height: 350px;
    }

    .avatar {
        width: 700px;
        height: auto;
        position: fixed;
        top: 25%;
        left: 20%;
    }

    .nickname {
        height: auto;
        width: 700px;
        position: fixed;
        z-index: 2;
        display: none;
        left: 15%;
        top: 32%;
    }

    .reply-comment {
        width: 90%;
        left: 5%;
        height: 80%;
        top: 10%;
    }

    .old-comment img,
    .new-comment img,
    .reply-image img {
        width: 50px;
        height: 50px;
    }

    #close {
        font-size: 30px;
        top: -15px;
        right: -5px;
    }

    .reply-button {
        font-size: 16px;
        padding: 12px 14px;
    }

    textarea {
        height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .avatar {
        width: 500px;
        height: auto;
        position: fixed;
        top: 25%;
        left: 20%;
    }
}


@media screen and (max-width: 480px) {
    .movie-wrap {
        display: flex;
        height: 350px;
        flex-wrap: wrap;
    }

    .movie-image {
        height: 200px;
        width: 100px;
    }

    .avatar {
        width: 400px;
        height: auto;
        position: fixed;
        top: 25%;
        left: 05%;
    }

    .nickname {
        height: auto;
        width: 400px;
        position: fixed;
        z-index: 2;
        display: none;
        left: 3%;
        top: 32%;
    }

    .avatar-title{
        font-size: 20px;
    }

    #nickname-input{
        width: 300px;
    }

    .reply-comment {
        width: 100%;
        left: 0;
        top: 10%;
        height: 90%;
        padding: 15px;
        border-radius: 0;
    }

    .reply-box {
        padding-top: 10px;
    }

    textarea {
        height: 70px;
    }

    .reply-button {
        padding: 12px 10px;
        font-size: 16px;
    }

    #close {
        font-size: 26px;
        top: -10px;
        right: 0;
    }
}

@media screen and (max-width: 320px) {
    .movie-image {
        height: 150px;
        width: 50px;
    }

    .avatar {
        width: 300px;
        height: auto;
        position: fixed;
        top: 10%;
        right: 10%;
    }

    .nickname {
        height: auto;
        width: 300px;
        position: fixed;
        z-index: 2;
        display: none;
        left: 0;
        top: 10%;
    }

    .avatar-title{
        font-size: 15px;
    }

    #nickname-input{
        width: 300px;
    }
}