<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/base.css">
</head>

<body>
    <div class="header">
        <div class="inner-wrap">
            <a href="./index.html">
                <div class="inner-logo">
                    <img src="./assets/images/bingebox_logo.png" alt="bingebox_logo.png">
                    <p>BINGEBOX <br>CINEMA</p>
                </div>
            </a>
            <div class="inner-menu">
                <ul>
                    <li><a href="./showtime.html">Lịch chiếu</a></li>
                    <li><a href="#">Rạp</a></li>
                    <li><a href="#">Khuyến mãi</a></li>
                    <li><a href="./new.html">Tin tức</a></li>
                    <li><a href="#">Giá vé</a></li>
                    <li><a href="./magicBox.html">Magic box</a></li>
                    <li><a href="#">Về chúng tôi</li>
                </ul>
            </div>
            <div class="inner-regist">
                <ul>
                    
                    <li><button class="button button-dn">
                        <a href="#">Đăng nhập</a></button></li>
                    <li><button class="button button-dk">
                            <a href="#">Đăng ký</a></button></li>
                   
                </ul>
            </div>
        </div>
    </div>

    
</body>
</html>