.section-1 {
    margin-top: 120px;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* css cho phần chọn avatar */
.avatar {
    background-color: black;
    border-radius: 15px;
    width: 1000px;
    height: auto;
    padding: 30px;
    position: fixed;
    top: 25%;
    left: 22%;
    z-index: 2;
}

.avatar-title {
    color: var(--color-yellow);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    font-size: 30px;
}

.avatar-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.avatar-image {
    width: 100px;
    height: 100px;
    margin: 3px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.avatar-image:hover {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.avatar-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* css cho phần nhập nickname */
.nickname {
    width: 1000px;
    height: auto;
    background-color: black;
    border-radius: 15px;
    width: 700px;
    height: auto;
    padding: 30px;
    position: fixed;
    z-index: 2;
    display: none;
    left: 30%;
    top: 32%;
}

.nickname-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nickname-input {
    width: 600px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
}

.nickname-button {
    background-color: var(--color-yellow);
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

/* css cho phần main */
.movie-wrap {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15px;
    height: 100%;
    height: 1100px;
    overflow: scroll;
    scrollbar-width: none;
}

.comment-wrap {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 15px;
    height: 100%;
}

.movie-image {
    height: 300px;
    width: 209px;
    margin: 10px 0;
    cursor: pointer;
    border: 2px solid var(--color-yellow);
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    align-items: center;
}

.movie-image:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.movie-info {
    border-bottom: 1px solid var(--color-yellow)
}

.movie-info ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.movie-info ul li {
    margin-right: 23px;
    color: var(--color-text);
    font-weight: 600;
}

.movie-desc {
    margin: 10px 0;
}

.movie-row {
    display: flex;
    margin: 17px 0;
}

.movie-label {
    width: 130px;
}

.movie-value {
    color: gray;
}

.comment-info {
    margin: 20px 0;
}

.comment-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 600px;
}

.comment-card {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 0 15px 15px 0;
    padding: 16px;
    width: 372px;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.comment-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

/* Ảnh nền mờ phía sau */
.comment-bg {
    position: absolute;
    inset: 0;
    background-image: url();
    background-size: cover;
    background-position: center;
    filter: blur(8px) brightness(0.5);
    z-index: 0;
    opacity: 0.8;
}

.comment-image,
.comment-user {
    position: relative;
    z-index: 1;
}

.comment-user {
    width: 100%;
}

.comment-image {
    margin-right: 15px;
}

.comment-image img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 12px;
}

h3.comment-name {
    font-size: 18px;
    color: var(--color-yellow);
    margin: 0 0 5px;
}

.comment-content {
    font-size: 14px;
    color: white;
    font-weight: 500;
    line-height: 1.4;
}

.comment-title {
    margin: 20px 0;
}

.comment-box {
    display: flex;
    width: 100%;
    align-items: center;
}

textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 15px;
}

.comment-button {
    background-color: var(--color-yellow);
    padding: 15px 18px;
    border-radius: 10px;
    font-size: 18px;
}

.comment-rating {
    display: flex;
    gap: 5px;
    margin: 10px 0;
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
}

.comment-rating .fa-star.selected {
    color: gold;
}

.comment-rating .fa-star:hover {
    color: gold;
}

.comment-interact {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    color: var(--color-text);
    width: 100%;
    justify-content: right;
}

.interact {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment-interact i {
    cursor: pointer;
    font-size: 13px;
    display: flex;
}

.comment-interact p {
    font-size: 14x;
    margin: 0;
}

.comment-like.active i {
    color: var(--color-yellow);
}

.comment-dislike.active i {
    color: var(--color-yellow);
}

/* css cho reply comment */
.reply-comment {
    position: fixed;
    background-color: black;
    top: 15%;
    left: 25%;
    padding: 25px;
    z-index: 3;
    border-radius: 15px;
    width: 1000px;
    height: 700px;
    display: none;
}

.reply-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative
}

#close {
    position: absolute;
    color: var(--color-text);
    font-weight: 600;
    font-size: 35px;
    top: -20px;
    right: -10px;
    cursor: pointer;
}

.reply-main {
    flex: 3;
    overflow-y: auto;
}

.old-comment {
    display: flex;
    color: var(--color-text);
    border-bottom: 1px solid var(--color-text);
    padding: 10px 0 20px;
}

.old-comment-avatar,
.new-comment-avatar {
    margin-right: 15px;
}

.old-comment-name,
.new-comment-name {
    font-weight: 600;
    color: var(--color-yellow);
    margin-bottom: 7px;
}

.old-comment-text {
    margin-bottom: 7px;
}

.old-comment img,
.new-comment img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 15px;
}

.new-comment {
    display: flex;
    color: var(--color-text);
    padding: 30px 50px;
}

.reply-box {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    padding-top: 15px;
}

textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 15px;
}

.reply-button {
    background-color: var(--color-yellow);
    padding: 15px 18px;
    border-radius: 10px;
    font-size: 18px;
}

.reply-image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 15%;
}