.section-1 {
    margin-top: 49px;
    height: 660px;
}

.film-poster-big {
    text-align: center;
    position: relative;
    z-index: 1;
    height: 600px;
}

.film-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 1;
    transition: opacity 0.3s ease;
    border-radius: 12px;
    z-index: 2;
}

.film-poster-big img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.film-icon-play {
    position: absolute;
    top: 35%;
    left: 47%;
    font-size: 70px;
    color: white;
    cursor: pointer;
    z-index: 3;

}

.film-icon-play:hover {
    color: white;
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.section-2 {
    height: 350px;
    margin-bottom: 20px;
}


.section-2 .inner-wrap {
    display: flex;
    justify-content: center;
    color: var(--color-text);
}

.section-2 .inner-image {
    height: 400px;
    width: 278px;
    margin-right: 25px;
    position: relative;
    z-index: 4;
}

.section-2 .inner-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: -100px;
    margin-bottom: -45px;
    object-fit: cover;
}

.section-2 h2 {
    margin: 20px 0 10px 0;
    width: 690px;
}

.section-2 .inner-content .inner-basic {
    display: flex;
    margin-bottom: 12px;
}

.section-2 .inner-content .inner-basic .inner-icon {
    display: flex;
    margin-right: 60px;
    justify-content: center;
    align-items: center;
}

.section-2 .inner-content .inner-basic .inner-icon p {
    padding: 0;
    margin: 0;
}

.section-2 .inner-content .inner-basic .inner-icon i {
    margin-right: 10px;
    color: var(--color-golden);
}

.section-2 .inner-category {
    display: flex;
    margin: 5px 0;

}

.section-2 .inner-category p {
    margin-right: 10px;
    margin-bottom: 10px;
}

.section-2 .inner-category a {
    color: var(--color-text);
}

.section-2 .inner-age {
    padding: 5px;
    width: 35px;
    margin-bottom: 15px;
    background-color: var(--color-yellow);
    font-weight: 400;
    text-align: center;
}

.section-2 .inner-button {
    display: flex;
}

.button {
    background-color: white;
    margin-right: 10px;
    padding: 5px 12px;
    border-radius: 15px;
    cursor: pointer;

}

a.button-one {
    background-color: var(--color-lightblue);
    color: var(--color-text);
    font-weight: 600;
    text-decoration: none;

}

a.button-two {
    background-color: var(--color-red);
    color: var(--color-text);
    font-weight: 600;
    text-decoration: none;

}

.section-3 {
    margin-bottom: 50px;
}

.section-3 .inner-wrap {
    margin-left: 60px;
}

.section-3 .inner-content {
    display: flex;
    color: var(--color-text);
    margin-bottom: 10px;
}

.list {
    background-color: #004aad;
    height: 40px;
    width: 8px;
    margin-right: 10px;
}

.section-3 p {
    color: var(--color-text);
    font-size: 17px;
    width: 1000px;
    line-height: 1.5;
}

.section-4 {
    margin-bottom: 50px;
}

.section-4 .inner-wrap {
    margin-left: 60px;
}

.section-4 .inner-content {
    display: flex;
    color: var(--color-text);
    margin-bottom: 10px;
}

.section-4 .actor-list {
    display: flex;
    flex-wrap: wrap;
}

.section-4 .actor-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 130px;
    height: 160px;
}

.section-4 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.section-4 .inner-name {
    color: var(--color-text);
    text-align: center;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
}

#close {
    position: fixed;
    top: 17%;
    left: 79%;
    font-size: 35px;
    z-index: 6;
    cursor: pointer;
    color: white;
    display: none;
}

.inner-iframe {
    text-align: center;
    position: fixed;
    top: 20%;
    left: 25%;
    z-index: 5;
    display: none;
}

.section-5 {
    margin-bottom: 80px;
}

.section-5 .inner-wrap {
    margin-left: 60px;
    color: var(--color-text);
}

.section-5 .inner-content {
    display: flex;
    color: var(--color-text);
    margin-bottom: 50px;
}

.section-5 .schedules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.section-5 .schedules .schedule-item {
    color: var(--color-text);
    margin: 5px 7px 5px 0;
    padding: 5px 25px;
    background-color: var(--color-blue);
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.section-5 .schedules .schedule-item:hover {
    background-color: var(--color-lightblue);
    transition: 0.3s ease-in-out;
}

.section-5 .showtime-item {
    border-top: 1px solid var(--color-dark);
    padding: 30px 0;
}

.section-5 .showtimes .times {
    display: flex;
    flex-wrap: wrap;
}

.times .time-item {
    margin-right: 30px;
    margin-bottom: 20px;
}

.cinema {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 30px;
}

.times .time-item .time-number {
    background-color: var(--color-dark);
    text-align: center;
    padding: 15px 65px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}

.times .time-item .time-number:hover {
    background-color: var(--color-blue);
}

.time-info {
    display: flex;
    justify-content: center;
    font-size: 11px;
    font-weight: 400;
}

.time-info .time-subtitle {
    margin-right: 10px;
    background-color: rgb(181, 22, 22);
    padding: 2px 5px;
    border-radius: 5px;
}

.time-info .time-format {
    background-color: #67B446;
    padding: 2px;
    border-radius: 5px;
}