body {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 1.1em;
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 35px;
  padding-bottom: 30px;
}

.card {
  background-color: rgb(2, 2, 66);
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  color: var(--color-yellow);
  font-style: bold;
}

.card-text {
  color: #ddd;
}

.btn-danger {
  background-color: #e50914;
  border: none;
}

.btn-danger:hover {
  background-color: #b20710;
}

.has-fixed-header {
  padding-top: 130px;
}