body {
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

h2 {
  color: #fff;
  font-weight: bold;
}

.card {
  background-color: rgb(2, 2, 66);
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  color: var(--color-yellow);
  font-weight: 600;
}

.card-text {
  color: #ddd;
  font-weight: 400;
}

.btn-danger {
  background-color: #e50914;
  border: none;
}

.btn-danger:hover {
  background-color: #b20710;
}

.has-fixed-header {
  padding-top: 130px;
}