/*Carousel*/
.carousel {
    position: relative;
    width: 2000px;
    max-width: 100vw;
    height: 700px;
    margin-top: 100px;
}

.carousel-list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s ease;
}

.carousel-image img {
    height: 700px;
    width: 2000px;
    object-fit: cover;
    object-position: left;
}

.carousel-button-prev {
    position: absolute;
    top: 48%;
    left: 1%;
}

.carousel-button-next {
    position: absolute;
    top: 48%;
    right: 1%;
}

button {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid grey;
    color: #fff;
    padding: 10px 15px;
}

button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.carousel-dots {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-dots li {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.carousel-dots li.active {
    background-color: white;
    width: 25px;
    border-radius: 15px;
    transition: 1s;
}

/* Quick Ticket Buying */
.quick-ticket {
    margin: 20px;
}

.quick-ticket .container {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    padding: 10px;
    background-color: #fff;
}

.quick-ticket-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quick-ticket-number {
    background-color: orange;
    padding: 2px 8px;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

select {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
    border: none;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}

.buying {
    color: var(--color-text);
    padding: 15px 20px 0;
    height: 35px;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.buying:hover {
    color: orange;
    cursor: pointer;
}

/*section-1*/
.section-1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-1 .inner-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.section-1 .inner-content .inner-title {
    color: var(--color-text);
}

.list {
    background-color: #004aad;
    height: 40px;
    width: 8px;
    margin-right: 10px;
}

.section-1 .inner-film {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.section-1 .inner-film .film-detail {
    height: 450px;
    margin-right: 10px;
    margin-bottom: 40px;
    cursor: pointer;
}

.section-1 .inner-film .film-poster {
    height: 320px;
    width: 229px;
    position: relative;
}

.section-1 .inner-film .film-poster:hover {
    content: "Mua vé ngay";
}

.section-1 .inner-film .film-poster img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s ease;
}


.section-1 .inner-film ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 5px 0 0 0;
}

.section-1 .inner-film ul li {
    margin-right: 10px;
}

.section-1 .inner-film ul li .infor {
    padding: 5px;
    color: white;
    font-weight: 650;
    background-color: #004aad;
    border-radius: 5px;
    font-size: 10px;
}

.section-1 .inner-film ul li .age-permission {
    background-color: red;
}

.section-1 .inner-film ul li .subtitle {
    background-color: rgb(41, 39, 39);
}

.section-1 .inner-film ul li .film-format {
    background-color: #67B446;
}


.section-1 .inner-film .film-name {
    color: var(--color-text);
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

.section-1 .inner-film .film-category {
    color: var(--color-text);
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 5px;
    padding: 0;
}

.section-1 .inner-film .film-date {
    color: gray;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/*hover cho nút mua vé ngay*/
.section-1 .inner-button {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.3s ease;
    z-index: 3;
}

.section-1 .inner-button button {
    width: 180px;
    border-radius: 10px;
    padding: 7px 20px;
    border: 0;
    background-color: var(--color-blue);

}

.section-1 .inner-button button a {
    color: white;
    font-weight: 400;
}

.section-1 .inner-film .film-poster:hover .inner-button {
    opacity: 1;
}

.section-1 .film-poster .inner-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    transition: 0.3s ease;
    opacity: 0;
}

.section-1 .film-poster .inner-icon i {
    color: var(--color-blue);
}

.section-1 .inner-film .film-poster:hover .inner-icon {
    opacity: 1;
}

.section-1 .film-poster .inner-top {
    position: absolute;
    top: -30px;
    left: -60px;
}

.section-1 .film-poster .inner-top img {
    height: 100px;
    width: auto;
}

.film-release {
    color: gray;
}

/* Css cho cột sidebar */
.promotion-title {
    color: var(--color-text);
    font-size: 18px;
    font-size: 25px;
    padding-left: 6px;
    margin-bottom: 15px;
}

.promotion-image {
    background-color: var(--color-blue);
    width: 230px;
    height: 100px;
    margin: 10px 10px 14px;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
}

.promotion-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.promotion-image:hover img {
    transform: scale(1.1);
}

/* css cho trailer */
#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
}

#close {
    position: fixed;
    top: 17%;
    left: 79%;
    font-size: 35px;
    z-index: 6;
    cursor: pointer;
    color: white;
    display: none;
}

.inner-iframe {
    text-align: center;
    position: fixed;
    top: 20%;
    left: 25%;
    z-index: 5;
    display: none;
}

/*css cho section-6*/
.section-6 {
    margin: 50px 0 130px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

.section-6 .inner-title {
    color: var(--color-text);
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}

.news {
    display: flex;
    color: var(--color-text);
}

.new-item-big {
    margin-right: 15px;
    cursor: pointer;
}

.new-image-big {
    width: 612px;
    height: 400px;
    overflow: hidden;
}

.new-item-big img {
    width: 612px;
    height: 400px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.new-item-big img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.new-item-big .new-title {
    font-size: 25px;
}

.new-item-small {
    cursor: pointer;
    margin-bottom: 50px;
}

.new-item-small img {
    width: 195px;
    height: auto;
    object-fit: contain;
    margin: 0 10px 10px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.new-item-small img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.new-item {
    display: flex;
}

.new-title:hover {
    color: var(--color-yellow);
}

.section-6 .button-new {
    border: 2px solid var(--color-yellow);
    padding: 5px 15px;
    color: var(--color-text);
    font-size: 20px;
    width: 180px;
    cursor: pointer;
    text-align: center;
}

.section-6 .inner-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


/* css cho section-4 */
.box-head {
    text-align: center;
    margin-bottom: 30px;
}

.box-head .inner-title {
    font-weight: 700;
    color: var(--color-yellow);
    font-size: 40px;
    margin-top: 0 0 20px 0;
}

.box-head .inner-desc {
    font-size: 20px;
    color: var(--color-text);
    margin: 10px 0 40px;
}

.section-4 {
    margin: 150px 0;
}

.section-4 .inner-main {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 8px;
    width: auto;
    position: relative;
}

.section-4 .inner-main::after {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - 20px);
    /*tam giác*/
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F9F9F9;
}

.section-4 .inner-content {
    position: relative;
    text-align: center;
    flex-direction: column;
    color: black;
    font-weight: 500;
    height: 210px;
}

.section-4 .inner-content::before {
    content: "\f10d";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    color: #A5BFE0;
    font-size: 20px;

}

.section-4 .inner-content::after {
    content: "\f10e";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    color: #A5BFE0;
    font-size: 20px;
}

.section-4 .inner-info {
    text-align: center;
    margin-top: 40px;
}

.section-4 .inner-info img {
    height: 80px;
    border-radius: 50%;
    width: 80px;
    object-fit: cover;
}

.section-4 .inner-info .inner-name {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 20px;
    color: var(--color-text);
}

.section-4 .inner-info .inner-position {
    color: gray;
    margin-bottom: 0;
}