body{
    /* overflow: hidden; */
    
}

/*Header*/
.header{
    background-color: #2E4BA6;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.header .inner-wrap{
    display: flex;
    justify-content: space-between; /*căn đều trái phải*/
    align-items: center; /*căn dọc */   
}
.header .inner-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.header .inner-wrap .inner-logo a{
    margin-right: 10px;
}
.header .inner-wrap .inner-logo img{
    height: 80px;
    width: auto;
    margin-right: 8px;
 
}
.header .inner-wrap .inner-logo p{
    color: white;
    font-weight: 700;
    margin: 0;
}

.header .inner-wrap .inner-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header .inner-wrap .inner-menu ul li a{
    display: inline-block;
    padding: 35px 20px;
    color: white;
    font-size: 18px;
}
.header .inner-wrap .inner-menu ul li a:hover{
    background-color: blue;
}
.header .inner-wrap .inner-regist{
    height: 80px;
}
.header .inner-wrap .inner-regist ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    height: 100%;

}
.header .inner-regist ul li{
    margin-right: 10px;
}
.header .inner-regist ul li button{
    padding: 10px 25px;
    border-radius: 30px;
    border: 0;
    font-size: 15px;
    font-weight: 600;

}

.header .inner-regist ul li .button a{
    color: white;
    font-weight: 400;
}
.header .inner-regist ul li .button-dn{
    background: linear-gradient(90deg, #5de0e6, #004aad);
}
.header .inner-regist ul li .button-dk{
    background: linear-gradient(90deg, #ff5757, #8c52ff);
}

.header .inner-regist ul li .button-dn:hover{
    padding: 10px 25px;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(90deg, #ff5757, #8c52ff);

}

.header .inner-regist ul li .button-dk:hover{
    padding: 10px 25px;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(90deg, #5de0e6, #004aad);

}

/*Carousel*/
.carousel{
    position: relative;
    width: 1600px;
    max-width: 100vw;
    height: 700px;
    margin-top: 100px;
}
.carousel-list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}


.carousel-image img{
    height: 700px;
    width: 1600px;
    object-fit: cover;
    object-position: left;
}

.carousel-button-prev{
    position: absolute;
    top: 48%;
    left: 1%;
}
.carousel-button-next{
    position: absolute;
    top: 48%;
    right: 1%;
}

button{
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid grey;
    color: #fff;
    padding: 10px 15px;
}

button:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

.carousel-dots{
    position: absolute;
    bottom: 1px;
    left:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-dots li{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.carousel-dots li.active{
    background-color: white;
    width: 25px;
    border-radius: 15px;
    transition: 1s;
}

/* Quick Ticket Buying */
.quickTicketBuying{
    margin: 20px;
}
.quickTicketBuying .container{
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.quickTicketBuying-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quickTicketBuying-number{
    background-color: orange;
    padding: 2px 8px;
    border-radius: 50%;
    color: white;
    font-weight: 600;
}
select{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.buying {
    color: var(--color-text);
    padding: 15px 20px 0;
    height: 35px;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buying:hover{
    color: orange;
    cursor: pointer;
}

