.main-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0px !important;
}
.main {
  width: 980px;
  margin: 0 auto;
  margin-top: 30px;
}
.col-left {
  float: left;
  width: 25%;
  padding-left: 0;
  clear: left;
}
body {
  height: 100%;
  background-color: rgb(253, 248, 240);
}

a {
  text-decoration: none;
}
ul {
  float: left;
  padding: 0;
  margin: 0;
}
.my-account .page-title h1 {
  border-bottom: none;
  font-weight: normal;
  font-size: 22px;
}
.block-title {
  position: relative;
  padding: 10px 0 0;
  margin-bottom: 5px;
}
.block-account .block-content li a {
  color: #666 !important;
  margin-left: 5px !important;
  line-height: 34px !important;
  font-weight: bold;
  text-transform: uppercase;
}

.block-account .block-content li {
  background: url(https://res.cloudinary.com/dry3sdlc1/image/upload/v1744741759/ribon_left-ccc_yqqvke.png)
    no-repeat scroll left center #ccc;
  color: #fff;
  height: 34px;
  padding-left: 18px;
  float: left;
  width: 100%;
}
.block-content li.current {
  background: url(https://res.cloudinary.com/dry3sdlc1/image/upload/v1744742331/ribon_left_qwzst7.png)
    no-repeat scroll left center #e71a0f;
  color: #fff;
  padding-left: 18px;
}
.block-account li {
  margin: 2px 0;
}
.col-main {
  float: left;
  width: 75%;
}
.my-account .dashboard {
  padding-left: 18px;
}
.my-account .page-title {
  width: 100%;
  text-align: center;
  background: #222;
  height: 34px;
  margin-top: 0px;
  margin-bottom: 10px;

  /* Thêm phần này để căn giữa chữ theo chiều dọc */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Tùy chọn font để đẹp hơn */
  color: white;
  font-weight: bold;
}
.my-profile-cgv {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.image-profile-cgv {
  float: left;
  width: 49%;
}
.format-profile-cgv {
  margin-left: 20px;
}
.barcode-my-cgv {
  float: right;
  width: 30%;
}
#fileToUpload > img {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #676565;
  border-radius: 80px;
  height: 120px;
  width: 120px;
}
.button-change-image-profile {
  float: left;
  margin-top: 5px;
  text-align: center;
  width: 120px;
}
.button-change-image-profile button {
  background: #9d9b9b;
  padding: 5px 15px;
  border-radius: 3px;
  border: none;
}
form input[type='file'] {
  display: none;
}
.welcome-msg {
  color: #7f7f7f;
}
.welcome-msg .hello {
  color: black;
}
.cgv-info {
  border: 1px solid silver;
  border-radius: 10px;
  width: 100%;
  padding: 13px;
  margin-top: 20px;
  float: left;
  margin-bottom: 13px;
}
.cgv-info > div {
  float: left;
}
.cgv-status-member {
  width: 39%;
}
.cgv-point {
  float: left;
  width: 100%;
  margin-top: 5px;
}
.cgv-info .cgv-status-member label {
  width: 42%;
  font-weight: normal;
  display: inline-block;
}
.dashboard {
  color: #7f7f7f;
}
.box-title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.col2-set {
  display: flex;
  flex-flow: column;
  gap: 15px;
}
