body {
  background: url('../../assets/images/istockphoto-1396163273-612x612.jpg') no-repeat center center
    fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  height: 100vh;
}
.login-container {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  -webkit-backdrop-filter: blur(4px); /* cho Safari */
  backdrop-filter: blur(4px); /* standard property for compatibility */
}
.form-group {
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
  position: relative;
}
.form-group .icon {
  position: absolute;
  top: 50%;
  right: 13%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
}
#username,
#password {
  width: 80%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: 1.5px solid rgb(182, 234, 28);
  border-radius: 5px;
}
#username::placeholder,
#password::placeholder {
  color: white;
}
.login-button {
  background-color: rgb(140, 181, 17);
  border: none;
  color: white;
  padding: 8px 25px;
  border-radius: 5px;
  cursor: pointer;
}
.register-link {
  color: #6e8efb;
  text-decoration: none;
  font-size: 14px;
}

.register-link:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
}
