body {
  background: url("../../assets/images/starwarsLogin.jpg") no-repeat center
    center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  height: 100vh;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.inner-wrap {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  flex: 2;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  -webkit-backdrop-filter: blur(4px);
  /* cho Safari */
  backdrop-filter: blur(4px);
  /* standard property for compatibility */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 45px;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
  position: relative;
  height: 20px;
}

.form-group .icon {
  position: absolute;
  top: 50%;
  right: 13%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
}

#username,
#password {
  width: 80%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: 1.5px solid var(--color-blue);
  border-radius: 5px;
}

#username::placeholder,
#password::placeholder {
  color: white;
}

.login-button {
  background-color: var(--color-blue);
  border: none;
  color: white;
  padding: 8px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #1c3cd6;
}

.register-link {
  color: #6e8efb;
  text-decoration: none;
  font-size: 14px;
}

.register-link:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 200px;
  color: var(--color-text);
}

.cinema-production {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 12px;
  flex-shrink: 0;
}

.cinema-production img {
  width: 120px;
  height: auto;
  margin: 0;
}

.cinema-production h3 {
  color: var(--color-text);
  font-size: 26px;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  margin: 0;
}
